{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 49.4871968,
    "longitude": 31.2718321,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Головна",
    "time_zone": "Europe/Kiev",
    "external_url": null,
    "internal_url": null,
    "currency": "UAH",
    "country": "UA",
    "language": "en"
  }
}